<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
	<title>Home</title>
</head>
<body>

	<h1 style= "color : white; font-size:50px" > 
		<center style = "margin-left: 40px;"> 
			DATA ENCRYPTION 
		</center>
	</h1>

	<p > 
		<center> 
			<a class = "the-form3"  href="{{url_for('register')}}"> 
				Register
			</a> 
		</center> 
	</p>
	
	<p > 
		<center> 
			<a class = "the-form3" 
			 href="{{url_for('login')}}">
				Login
			</a>
		</center> 
	</p>
</body>
</html>
